.container-inicio{
    width: 87%;
    height: 100vh;
    background-color: var(--color-primary);
    margin-left: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-inicio{
    /* background-color: rgb(129, 128, 126); */
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.box-inicio .title{
    color: var(--color-quinary);
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: var(--font-primary);
}
.text-portafolio{
    color: var(--color-quinary);
    font-size: 1.7rem;
    font-weight: 700;
    font-family: var(--font-primary);
    margin-bottom: 2rem;
}
.box-inicio .objetivo{
    color: var(--color-quaternary);
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    font-weight: 500;
    margin-bottom: 2rem;
}

.box-inicio .text{
    color: var(--color-white);
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    font-weight: 500;
    margin-bottom: 2rem;
}



